<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>PT Cepat Kilat - Sign In</title>

    <!-- Custom fonts for this template-->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Google Fonts API -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/sign-x.css" />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="sign">
      <div class="illustration text-white">
        <img class="logo" src="img/logo.svg" alt="PT Cepat Kilat" />
        <h1 class="slogan">Mengantar Paket Anda dengan cepat dan aman.</h1>
        <img
          src="img/woman-lift-box.svg"
          alt="A woman lifting a box to pile them"
        />
      </div>
      <div class="form d-flex align-items-center justify-content-center">
        <div class="form-placeholder flex">
          <h2 class="form-headline">Masuk</h2>
          <form action="" class="form-group">
            <input
              type="text"
              name="email"
              id="email"
              class="form-input"
              placeholder="Email"
            />
            <input
              type="password"
              name="password"
              id="password"
              class="form-input"
              placeholder="Password"
            />
            <button class="form-button">Masuk</button>
            <p class="paragraph">
              Belum Punya akun? <a class="link" href="/sign-up.html">Daftar</a>.
            </p>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  </body>
</html>
